*backup*
*kopie*
balance.py
ban.py
branding.py
clan.py
damagetwo.py
damage.py
counter.py
docs.py
essentials.py
maps.py
motd.py
names.py
permission.py
raw.py
plugin_manager.py
stationfun.py
*.7z
*.txt
*.jar
*.db
*.zip
*.cfg
/*
